# ignore docs folder
docs/

# ignore development config files
.editorconfig
.eslintrc
.gitattributes
.gitignore
.travis.yml
.npmignore
webpack.config.js

# ignore test files
test/

# ignore source files
src/
